* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color:plum;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.container {
  width: 600px;
  padding: 20px 30px;
  background-color: pink;
  border-radius: 30px;
  border: 2px solid lightpink;
  text-align: center;
  box-shadow: 0 8px 20px purple;
  position: relative;
  z-index: 2;
}

.top-design {
  color: #7040b5;
  font-size: 20px;
  margin-bottom: 5px;
}

h1 {
  color: #35146b;
  font-size: 32px;
  margin-bottom: 5px;
}

.subtitle {
  color: #6c6080;
  font-size: 16px;
  margin-bottom: 8px;
}

.counter-circle {
  width: 150px;
  height: 150px;
  background-color: #ead9ff;
  border: 6px solid #c59aef;
  border-radius: 50%;
  margin: 8px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-circle h2 {
  color: #35146b;
  font-size: 60px;
}

.current-count {
  color: #35146b;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
}

.message {
  width: 90%;
  background-color: #f0e0ff;
  color: #63399a;
  border-radius: 25px;
  padding: 8px;
  margin: 8px auto 15px;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.buttons div {
  text-align: center;
}

.buttons button {
  width: 130px;
  height: 55px;
  border-style: none;
  border-radius: 18px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.buttons button:hover {
  opacity: 0.8;
}

.buttons div p {
  color: #3e2b55;
  font-size: 14px;
  margin-top: 5px;
}

.decrease {
  background-color: #e95082;
}

.reset {
  background-color: #7547c5;
}

.increase {
  background-color: #25ad91;
}

.decrease:disabled {
  opacity: 0.4;
}

.info-box {
  width: 280px;
  padding: 10px;
  background-color: #f7efff;
  border: 2px solid #d5b3f5;
  border-radius: 20px;
  margin: 15px auto 0;
}

.info-box p {
  color: #6a5680;
  font-size: 14px;
  padding: 2px;
}

.info-box .status {
  color: #42167b;
  font-size: 22px;
}

.bottom-text {
  color: #7547ae;
  font-size: 14px;
  margin-top: 10px;
}

.design {
  position: absolute;
  border-radius: 50%;
}

.design1 {
  width: 180px;
  height: 180px;
  background-color: #dfc8ff;
  top: -70px;
  left: -60px;
}

.design2 {
  width: 150px;
  height: 150px;
  background-color: #ffdeda;
  top: -50px;
  right: -40px;
}

.design3 {
  width: 170px;
  height: 170px;
  background-color: #d5f4ef;
  bottom: -70px;
  left: -50px;
}

.design4 {
  width: 190px;
  height: 190px;
  background-color: #e2d4ff;
  bottom: -80px;
  right: -50px;
}

@media (max-width: 700px) {
  .container {
    width: 95%;
    padding: 20px 15px;
  }

  h1 {
    font-size: 27px;
  }

  .buttons {
    gap: 10px;
  }

  .buttons button {
    width: 90px;
  }

  .message {
    width: 95%;
  }
}